<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIDEBAR HEADER</title>
  <link rel="stylesheet" href="/style/sidebar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="/style/adminViewBook.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
  <header>
    <div class="project">
      <span class="book-icon"><i class="fa-solid fa-book"></i></span>
      <span class="name-project">E-Library</span>
    </div>
    <div class="right-header">
      <!-- <div><i class="fa-regular fa-bell"></i><span class="notif">0</span></div> -->
      <img src="/images/boy.png" alt="">
      <div class="username"><%= librarian[0].name %></div>
    </div>
  </header>
  <main>
    
    <div class="sidebar">
      <div class="sidebar-profile">
        <img src="/images/boy.png" alt="">
        <div class="username"><%= librarian[0].name %></div>
      </div>
      <div class="navbar">
         <ul>
          <li><a href="/adminDash"><i class="fa-solid fa-house"></i><span>Dashboard</span></a></li>
          <li><a href="/adminCategory"><i class="fa-solid fa-folder-open"></i><span>Category</span></a></li>
          <li><a href="/adminAuthor"><i class="fa-solid fa-book-bookmark"></i><span>Author</span></a></li>
          <li><a href="/adminIssued"><i class="fa-solid fa-pen-to-square"></i></i><span>View All Issued Books</span></a></li>
          <li><a href="/adminViewBook"><i class="fa-solid fa-street-view"></i><span>View Books</span></a></li>
          <li><a href="/adminBooks"><i class="fa-regular fa-circle"></i><span>Add Books</span></a></li>
          <li><a href="/regStudent"><i class="fa-solid fa-person-chalkboard"></i><span>Students</span></a></li>
          <li><a href="/adminViewRequest"><i class="fa-solid fa-magnifying-glass-chart"></i><span>View Request Book Data</span></a></li>
          <li><a href="/adminChange"><i class="fa-solid fa-lock"></i><span>Change Password</span></a></li>
          <li><a href="/logoutAdmin"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a></li>
         </ul>
      </div>
    </div>
    
<section id="adminViewBook">
  <div class="admin-title">
    <div>VIEW BOOK</div>
    <form class="search-bar" id="searchBook"><input type="text" id="search-bar" placeholder="Search" name="pseudo"></form> 
  </div>
  <div class="book-left">
    <div class="subheader-flex">
      <div class="inventory">Book Inventory</div>
    </div>
    <div class="book-grid">
      <% if(typeof showBook !== undefined && showBook.length > 0){%>
        <%for(var i = 0; i< showBook.length; i++){%>
      <div class="book-inventory">
        <div class="book-details" data-book-id="<%= showBook[i]._id %>">
          <div class="book-title"><%= showBook[i].bookTitle %></div>
          <div class="book-ID">ID : <strong><%= showBook[i].bookId %></strong></div>
          <div class="book-author">Author : <strong><%= showBook[i].author %></strong></div>
          <div class="book-category">Category : <strong><%= showBook[i].category %></strong></div>
          <div class="book-btn">
            <div><button class="issue-detail"><%= showBook[i].isBorrowed ? "Issued" : "Not Issued" %></button></div>
            <div class="issue-update"><button class="btn-update">Update</button></div>
            <div class="issue-delete"><button class="btn-delete">Delete</button></div>
          </div>
        </div>
        <div class="book-image">
          <img src="<%= showBook[i].image %>" alt="">
        </div>  
      </div>
      <%}}else {%>
            <div class="no-book">There is no book added for the moment &#128517;</div>
        <%}%>
       </div>
      
</div>

<!-- This is the delete form modal -->
<div class="modal2 hidden2">
  <div class="flex">
     <h2>Are you Sure to Delete this book?</h2>
     <button class="btn-close2">&times;</button>
  </div>
  <div>Book Id : <span id="delete-book-id">2356pklg</span></div>
  <div>Book title : <span id="delete-book-title">Batman</span></div>
  <div>Book Author : <span id="delete-author">Huge Jackman</span></div>
  <div>Book Category : <span id="delete-category">Fiction</span></div>
  <form id="deleteBook">
    <input type="submit" value="Delete">
  </form>
</div>
<div class="overlay2 hidden2"></div>

<!-- This is the update form modal -->
<div class="modal hidden">
  <div class="flex">
     <h2>Update This Book</h2>
     <button class="btn-close">&times;</button>
  </div>
  
  <form id="updateBook" enctype="multipart/form-data">
    <label id="file-image-label" for="image">Select a bookImage</label>
    <input type="file" name="image" id="image">
    <label id="file-pdf-label" for="bookpdf">Select a bookPdf</label>
    <input type="file" name="bookpdf" id="bookpdf">
    <input type="text" name="bookTitle" id="bookTitle" placeholder="Book ID">
    <input type="text" name="publisher" id="publisher" placeholder="Publisher">
    <input type="date" name="publishDate" id="publishDate" placeholder="Publish date">
    <input type="text" name="pseudo" id="pseudo" placeholder="Pseudo">
    <textarea name="description" id="description" placeholder="Description of the book" rows="3"></textarea>
    <input type="submit" value="Update">
  </form>
</div>
<div class="overlay hidden"></div>
</section>
  </main>
  

  <script>
    $(document).ready(() => {
    
    //  This is the part of deleting a book
     const modal2 = $('.modal2')
     const overlay2 = $('.overlay2')
     const openModalBtn2 = $('.btn-delete')
     const closeModalBtn2 = $('.btn-close2')

     const openModal2 = function(){
       modal2.removeClass('hidden2')
       overlay2.removeClass('hidden2')

       const parentDiv = $(this).closest('.book-details')
       const book_id = parentDiv.data('book-id')
      //  console.log(book_id)

      $.ajax({
        url: `/deleteBook/${book_id}`,
        type: 'GET',
        success: function(response){
            $('#delete-book-id').text(response.bookId);
            $('#delete-book-title').text(response.bookTitle);
            $('#delete-author').text(response.author);
            $('#delete-category').text(response.category);
        },
        error: function (xhr, status, error) {
          console.error(`Error: ${error}`);
        }
      })
     }

     openModalBtn2.on('click', openModal2)

     const closeModal2 = function(){
       modal2.addClass('hidden2')
       overlay2.addClass('hidden2')
     }

     closeModalBtn2.on('click', closeModal2)
     overlay2.on('click', closeModal2); 

    //  This is the part of updating a book
    const modal = $('.modal')
     const overlay = $('.overlay')
     const openModalBtn = $('.btn-update')
     const closeModalBtn = $('.btn-close')

     const openModal = function(){
       modal.removeClass('hidden')
       overlay.removeClass('hidden')

       const parentDiv = $(this).closest('.book-details')
       const book_id = parentDiv.data('book-id')
       console.log(book_id)

      $.ajax({
        url: `/updateBook/${book_id}`,
        type: 'GET',
        success: function(response){
            $('#file-image-label').text(response.image);
            $('#file-pdf-label').text(response.bookpdf);
            $('#bookTitle').val(response.bookTitle);
            $('#publisher').val(response.publisher);
            $('#pseudo').val(response.pseudo);
            $('#publishDate').val(response.publishDate);
            $('#description').val(response.description);
        },
        error: function (xhr, status, error) {
          console.error(`Error: ${error}`);
        }
      })
     }

     openModalBtn.on('click', openModal)

     const closeModal = function(){
       modal.addClass('hidden')
       overlay.addClass('hidden')
     }

     closeModalBtn.on('click', closeModal)
     overlay.on('click', closeModal); 

     //This is for the input file style
     const fileImage = $('#image')
     const filePdf = $('#bookpdf')

     const fileImageLabel = $('#file-image-label')
     const filePdfLabel = $('#file-pdf-label')
     //for the image file
     fileImage.on('change', function(){
        if(fileImage.val()){
          const realPathArray = fileImage.val().split('\\');
          fileImageLabel.text(realPathArray[realPathArray.length - 1])
          console.log(fileImageLabel.text(realPathArray[realPathArray.length - 1]))
        }
        
     })
    //for the book pdf file
     filePdf.on('change', function(){
        if(filePdf.val()){
          const realPathArray = filePdf.val().split('\\');
          filePdfLabel.text(realPathArray[realPathArray.length - 1])
        }

     })

    //  Here we will submit the modal form of deleting book
    $('#deleteBook').on('submit', function(e){
      e.preventDefault()
       const bookId = $('#delete-book-id').text()
      //  console.log(bookId)

      $.ajax({
        url: `/destroyBook/${bookId}`,
        type: 'DELETE',
        success: function(response){
          console.log('Book deleted : ', response.bookTitle)
          location.reload()
        },
        error: function(error){
          console.error('Error : ', error)
        }
      })
    })

    //  Here we will submit the modal form of updating book
    // Referring to himself as a consulting detective in the stories.
    $('#updateBook').on('submit', function(e){
      e.preventDefault()

      const formData = new FormData(this)

      $.ajax({
        url: '/updateBook',
        type: 'PUT',
        data: formData,
        processData: false,
        contentType: false, 
        success: function(response){
          console.log('Update successful:', response);
          location.reload();
        },
        error: function (xhr, status, error) {
          console.error(`Error: ${error}`);
        }
      })
    })


    $('#search-bar').on('keyup', function(){
      var value = $(this).val().toLowerCase()
      $('.book-grid .book-inventory').filter(function(){
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > - 1)
      })
    })
    });
 </script>
</body>
</html>