<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIDEBAR HEADER</title>  
  <link rel="stylesheet" href="/style/sidebar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="/style/adminViewRequest.css">
</head>
<body>
  <header>
    <div class="project">
      <span class="book-icon"><i class="fa-solid fa-book"></i></span>
      <span class="name-project">E-Library</span>
    </div>
    <div class="right-header">
      <!-- <div><i class="fa-regular fa-bell"></i><span class="notif">0</span></div> -->
      <img src="/images/boy.png" alt="">
      <div class="username"><%= librarian[0].name %></div>
    </div>
  </header>
  <main>
    
    <div class="sidebar">
      <div class="sidebar-profile">
        <img src="/images/boy.png" alt="">
        <div class="username"><%= librarian[0].name %></div>
      </div>
      <div class="navbar">
        <ul>
          <li><a href="/adminDash"><i class="fa-solid fa-house"></i><span>Dashboard</span></a></li>
          <li><a href="/adminCategory"><i class="fa-solid fa-folder-open"></i><span>Category</span></a></li>
          <li><a href="/adminAuthor"><i class="fa-solid fa-book-bookmark"></i><span>Author</span></a></li>
          <li><a href="/adminIssued"><i class="fa-solid fa-pen-to-square"></i></i><span>View All Issued Books</span></a></li>
          <li><a href="/adminViewBook"><i class="fa-solid fa-street-view"></i><span>View Books</span></a></li>
          <li><a href="/adminBooks"><i class="fa-regular fa-circle"></i><span>Add Books</span></a></li>
          <li><a href="/regStudent"><i class="fa-solid fa-person-chalkboard"></i><span>Students</span></a></li>
          <li><a href="/adminViewRequest"><i class="fa-solid fa-magnifying-glass-chart"></i><span>View Request Book Data</span></a></li>
          <li><a href="/adminChange"><i class="fa-solid fa-lock"></i><span>Change Password</span></a></li>
          <li><a href="/logoutAdmin"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a></li>
        </ul>
      </div>
    </div>
    
<section id="adminRequest">
  <div class="admin-title">MANAGE REQUEST</div>
  <div class="main-request">
      <table>
          <tr>
            <th>Book Title</th>
            <th>Book Description</th>
            <th>Student CNE</th>
            <th>Student Name</th>
            <th>Added on</th>
            <th>Action</th>
          </tr>
          <% if(student && student.length > 0){%>
            <% student.forEach(function(s){%>
              <%if(s.requestedBooks && s.requestedBooks.length > 0){%>

              <% for(var i = 0; i < s.requestedBooks.length; i++){%>
                <tr>
                  <td><%= s.requestedBooks[i].book.bookTitle %></td>
                  <td><%= s.requestedBooks[i].book.description %></td>
                  <td><%= s.cne %></td>
                  <td><%= s.name %></td>
                  <td><%= new Date(s.requestedBooks[i].date).toLocaleDateString()  %></td>
                  <td><span><i class="fa-solid fa-check"></i></span> <span><i class="fa-solid fa-trash"></i></span></td>
                </tr>
              <%}%>

                <%} else{%>
                  <tr>
                    <td colspan="6">There is no book requested</td> 
                  </tr>
                <%}%>
            <%})%>
            <%} else {%>
                <div>No Students Found.</div>
            <%}%>
          
          <!-- <tr>
            <td>Spiderman</td>
            <td>The coolest friend in your neighborhood come to ensure the safety of the city</td>
            <td>2563pklg</td>
            <td>Mouslim Ombadi</td>
            <td>2024-12-12</td>
            <td><span><i class="fa-solid fa-check"></i></span> <span><i class="fa-solid fa-trash"></i></span></td>
          </tr> -->
      </table>
  </div>
</section>
  </main>
  
</body>
</html>