<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIDEBAR HEADER</title>  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="/style/sidebar.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/style/previewBook.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
</head>
<body>
  <header>
    <div class="project">
      <span class="book-icon"><i class="fa-solid fa-book"></i></span>
      <span class="name-project">E-Library</span>
    </div>
    <div class="right-header">
      <!-- <div><i class="fa-regular fa-bell"></i><span class="notif">0</span></div> -->
      <img src="/images/boy.png" alt="">
      <div class="username">Mouslim Ombadi</div>
    </div>
  </header>
  <main>
    <div class="sidebar">
      <div class="sidebar-profile">
        <img src="/images/boy.png" alt="">
        <div class="username">Mouslim Ombadi</div>
      </div>
      <div class="navbar">
        <ul>
          <li><a href="/userDash"><i class="fa-solid fa-house"></i><span>Dashboard</span></a></li>
          <li><a href="/userIssued"><i class="fa-solid fa-folder-open"></i><span>Issue Books</span></a></li>
          <li><a href="/userBooks"><i class="fa-solid fa-book-bookmark"></i><span>Books</span></a></li>
          <li><a href="/userUpdate"><i class="fa-solid fa-pen-to-square"></i><span>Update Details</span></a></li>
          <li><a href="/userChange"><i class="fa-solid fa-lock"></i><span>Change Password</span> </a></li>
          <li><a href="/userRequest"><i class="fa-solid fa-bars-staggered"></i><span>Submit Book Request</span> </a></li>
          <li><a href="/userRule"><i class="fa-solid fa-person-chalkboard"></i><span>Rules</span></a></li>
          <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a></li>
        </ul>
      </div>
    </div>
    <!-- href="/userRequest" -->
<section id="previewBook">
  <% if(bookDetails && bookDetails.image){%>
    <div class="issued-form">
      <div class="get-image"><img src="/<%= bookDetails.image %>" alt=""></div>
      <div class="link" >Request</div>
   </div>
  <%}%>
  <%= console.log(bookDetails.image) %>
   <div class="preview">
      <div class="previewheader">
         <ul>
            <li><a href="/previewBook">Preview</a></li>
         </ul>
      </div>
      
        <!-- Batman : The Dark Knight  /books/batman.jpeg-->
      <div class="preview-details">
         <div class="edition"><em>An edition of <span><%= bookDetails.pseudo %></span> (<span class="bookYear">1982</span>)</em></div>
         <div class="detail-title"><%= bookDetails.bookTitle %></div>
         <div class="detail-author">By <span><%= bookDetails.author %></span></div>
         <div class="detail-info">
             <div class="like"><span><%= bookDetails.like.length %></span> Likes </div>
             <!-- <div class="read"><span>0</span> Read</div> &#8226; -->
         </div>
         <div class="description">
           <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Illo a porro officiis dicta obcaecati aliquam reiciendis ea,
           id, repellendus incidunt voluptas! Repellendus doloremque placeat
           debitis accusantium rerum doloribus ullam cum! -->
           <%= bookDetails.description %>
         </div>
         <div class="detail-book-publish">
            <div class="publish">
               <div class="title">Publish Date</div>
               <div class="date"><%= bookDetails.publishDate %></div>
            </div>
            <div class="editor">
              <div class="title">Editor</div>
              <div class="editor-name"><%= bookDetails.publisher %></div>
            </div>
            <div class="langage">
              <div class="title">Langage</div>
              <div class="langage-write">English</div>
            </div>
         </div>
         <div class="genre">Genre : <span><%= bookDetails.category %></span></div>
      </div>
   </div>
 </section>
  </main>
  <script>
    let publishDate = new Date(document.querySelector('.date').innerHTML).getFullYear()

    function formatDate(dateString){
        const date = new Date(dateString)
        const options = {year: 'numeric', month: 'long', day: 'numeric'}
        return date.toLocaleDateString('en-US', options)
    }

    const formattedDate = formatDate(document.querySelector('.date').innerHTML)
    // console.log(formattedDate)
    document.querySelector('.date').innerHTML = formattedDate
    // console.log(formattedDate)
    document.querySelector('.bookYear').innerHTML = publishDate

  </script>
</body>
</html>