<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIDEBAR HEADER</title>  
  <link rel="stylesheet" href="/style/sidebar.css">
  <link rel="stylesheet" href="/style/regStudent.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
  <!-- <link rel="stylesheet" href="/js/bootstrap.bundle.min.js"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
  <header>
    <div class="project">
      <span class="book-icon"><i class="fa-solid fa-book"></i></span>
      <span class="name-project">E-Library</span>
    </div>
    <div class="right-header">
      <!-- <div><i class="fa-regular fa-bell"></i><span class="notif">0</span></div> -->
      <img src="/images/boy.png" alt="">
      <div class="username"><%= librarian[0].name %></div>
    </div>
  </header>
  <main>
    
    <div class="sidebar">
      <div class="sidebar-profile">
        <img src="/images/boy.png" alt="">
        <div class="username"><%= librarian[0].name %></div>
      </div>
      <div class="navbar">
         <ul>
          <li><a href="/adminDash"><i class="fa-solid fa-house"></i><span>Dashboard</span></a></li>
          <li><a href="/adminCategory"><i class="fa-solid fa-folder-open"></i><span>Category</span></a></li>
          <li><a href="/adminAuthor"><i class="fa-solid fa-book-bookmark"></i><span>Author</span></a></li>
          <li><a href="/adminIssued"><i class="fa-solid fa-pen-to-square"></i></i><span>View All Issued Books</span></a></li>
          <li><a href="/adminViewBook"><i class="fa-solid fa-street-view"></i><span>View Books</span></a></li>
          <li><a href="/adminBooks"><i class="fa-regular fa-circle"></i><span>Add Books</span></a></li>
          <li><a href="/regStudent"><i class="fa-solid fa-person-chalkboard"></i><span>Students</span></a></li>
          <li><a href="/adminViewRequest"><i class="fa-solid fa-magnifying-glass-chart"></i><span>View Request Book Data</span></a></li>
          <li><a href="/adminChange"><i class="fa-solid fa-lock"></i><span>Change Password</span></a></li>
          <li><a href="/logoutAdmin"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a></li>
         </ul>
      </div>
    </div>
    
 <section id="regStudent">
  <div class="title">
    <div>View Student</div>
    <div class="new"><button class="btn-std"><i class="fa-solid fa-plus"></i>New Student</button></div>
  </div>
  
     <table>
       <tr>
         <th style="width: 20%;">Student List</th>
         <th>Student Information</th>
       </tr>

       <tr>
         <td style="vertical-align: top;">
          <form id="searchUser">
            <input type="text" placeholder="Search" id="search" name="name">
          </form>
          <div class="wrap-student" style="overflow-y: auto;">
            <%if(typeof student !== undefined && student.length > 0){%>
                <%for(var i = 0; i < student.length; i++){%>
                  <div class="wrap" data-user-id="<%= student[i]._id %>">
                    <div class="icon"><img src="<%= student[i].avatar %>" alt=""></div>
                    <div class="fullname"><%= student[i].name %></div>
                    <div class="btn-delete" title="Delete Student"><span class="times-btn">&times;</span></div>
                  </div>
                  
            <%}} else {%>
                    <h1>No User Added</h1>
              <%}%>
               
          </div>  
         </td>

         <td style="vertical-align: top;" class="display-student-info">
          <h1>Click The Student To Get Student Information &#128516;</h1>
         </td>

       </tr>
     </table>
  
     <!-- This is the update form modal -->
  <div class="modal hidden">
    <div class="flex">
       <h2>Add New Student</h2>
       <% if(message){ %>
            <div><%= message %></div>
       <%}%>
       <button class="btn-close">&times;</button>
    </div>
    <form id="addNewStudent" method="post" enctype="multipart/form-data">
      <input type="file" name="avatar" id="avatar">
      <input type="text" name="cne" placeholder="CNE" id="cne">
      <input type="text" name="name" placeholder="Full Name" id="name">
      <input type="email" name="email" placeholder="Email" id="email">
      <input type="text" name="phone" placeholder="Phone" id="phone">
      <input type="text" name="address" placeholder="Address" id="address">
      <!-- <input type="password" name="password" placeholder="Password" id="password"> -->
      <input type="submit" value="Submit">
    </form>
  </div>
  <div class="overlay hidden"></div>

   <!-- This is the delete form modal -->
   <div class="modal2 hidden2">
    <div class="flex">
       <h2>Are you sure to delete this Student ?</h2>
       <button class="btn-close2">&times;</button>
    </div>
    <div>Student CNE: <strong id="delete-cne">256987</strong></div>
    <div>Student Name: <strong id="delete-name">Mouslim Ombadi</strong></div>
    <div>Student Email: <strong id="delete-email">mouslimombadi@gmail.com</strong></div>
    <div>Student Phone: <strong id="delete-phone">0700981188</strong></div>
    <div>Student Address: <strong id="delete-address">Hay Riad</strong></div>
    <form id="destroyStudent">
      <input type="submit" value="Confirm">
    </form>
  </div>
  <div class="overlay2 hidden2"></div>
</section>
  </main>
  

  <script>
    $(document).ready(() => {

     
     const modal = $('.modal')
     const overlay = $('.overlay')
     const openModalBtn = $('.btn-std')
     const closeModalBtn = $('.btn-close')

     const openModal = function(){
       modal.removeClass('hidden')
       overlay.removeClass('hidden')
     }

     openModalBtn.on('click', openModal)

    // <pre>${JSON.stringify(response.borrowedBooks, null, 2)}</pre>

     const closeModal = function(){
       modal.addClass('hidden')
       overlay.addClass('hidden')
     }

     closeModalBtn.on('click', closeModal)

     //display user information by clicking in the wrap container
    //  The issue is caused by how this behaves in the arrow function (=>).
    //  In arrow functions, this does not refer to the element that triggered the event (like it does in traditional function expressions).
    //  Instead, it refers to the surrounding lexical context, which in this case is not the .wrap element.

      // Solution:
      // Use a regular function instead of an arrow function for the event handler.
      //  This will allow this to refer to the clicked element.
     $('.wrap').on('click', function(){
      let id = $(this).data('user-id')
      // console.log(id)
      $.ajax({
        type:'GET',
        url: `/student/${id}`,
        success: function(response){
          if(response.borrowedBooks && response.borrowedBooks.length > 0){
            let borrowedBooksRows = ``;

            // Loop through borrowedBooks array and build table rows dynamically
            response.borrowedBooks.forEach((bookEntry) => {
             if(bookEntry && bookEntry.book){
              borrowedBooksRows += `
                <tr style="width:20% ">
                  <td>${bookEntry.book || 'N/A'}</td>
                  <td>${bookEntry.book || 'N/A'}</td>
                  <td>${ new Date(bookEntry.borrowedDate).toLocaleDateString() || 'N/A'}</td>
                  <td>${ new Date(bookEntry.returnDate).toLocaleDateString()  || 'N/A'}</td>
                </tr>
              `;
            }
             
            });
            $('.display-student-info').html(`
            
            <div class="above-section">
              <div class="student-profile">
                <img src="${response.avatar}" alt="">
              </div>
              <div class="student-info">
                <div class="student-ID">CNE : <span>${response.cne}</span></div>
                 <div class="student-name">Full Name : <span>${response.name}</span></div>
                 <div class="student-email">Email : <span>${response.email}</span></div>
                 <div class="student-address">Address : <span>${response.address}</span></div>
                 <div class="student-phone">Phone : <span>${response.phone}</span></div>
              </div>
           </div>
           <div class="below-section">
              <div class="issue-book">Issue Book</div>
              <div class="table-issue">
                  <table>
                    <tr >
                      <th>Book ID</th>
                      <th>Book Title</th>
                      <th>Issue Date</th>
                      <th>Due Date</th>
                    </tr>
                    ${borrowedBooksRows}
                  </table>
              </div>
           </div>
            
           
            `)
          } else {
            $('.display-student-info').html(`
                   <div class="above-section">
              <div class="student-profile">
                <img src="${response.avatar}" alt="">
              </div>
              <div class="student-info">
                <div class="student-ID">CNE : <span>${response.cne}</span></div>
                 <div class="student-name">Full Name : <span>${response.name}</span></div>
                 <div class="student-email">Email : <span>${response.email}</span></div>
                 <div class="student-address">Address : <span>${response.address}</span></div>
                 <div class="student-phone">Phone : <span>${response.phone}</span></div>
              </div>
           </div>

            <div class="below-section">
              <div class="issue-book">Issue Book</div>
              <div style="margin-left:10px">This Student did not borrow a book</div>
            </div>
            `)
          }
        },
        error: function(xhr) {
            console.log('Error user not found')
        }
      })
     })

     const modal2 = $('.modal2')
      const overlay2 = $('.overlay2')
      const openModalBtn2 = $('.btn-delete')
      const closeModalBtn2 = $('.btn-close2')

      const openModal2 = function(){
        modal2.removeClass('hidden2')
        overlay2.removeClass('hidden2')
        
        //When we open the modal of deleting the user, we will also display all the user information to delete
        let parentWrap = $(this).closest('.wrap')
        let findName = parentWrap.data('user-id')
        let userId = findName
        console.log("This is the user id : ",userId)

        $.ajax({
        url: `/deleteStudent/${userId}`,
        type: 'GET',
        success: function(response){
            $('#delete-cne').text(response.cne);
            $('#delete-name').text(response.name);
            $('#delete-email').text(response.email);
            $('#delete-phone').text(response.phone);
            $('#delete-address').text(response.address);
        },
        error: function (xhr, status, error) {
          console.error(`Error: ${error}`);
        }
      })
      }

      openModalBtn2.on('click', openModal2)

      const closeModal2 = function(){
        modal2.addClass('hidden2')
        overlay2.addClass('hidden2')
      }

      closeModalBtn2.on('click', closeModal2)

     overlay.on('click', closeModal); 
     overlay2.on('click', closeModal2); 

     //This request will delete a student in our database
     $('#destroyStudent').on('submit', function(e){
      e.preventDefault()

      let studentCne = $('#delete-cne').text()
      
      $.ajax({
        url: `/destroyStudent/${studentCne}`,
        type: 'DELETE',
        success: function(response){
          console.log('Student deleted : ', response.name)
          location.reload()
        },
        error: function(error){
          console.error('Error : ', error)
        }
      })
     })

     //Adding new Student in the reg Student page 
     $('#addNewStudent').on('submit', function(e){
        e.preventDefault()
        console.log('You submit the form about add new student!')
        const formData = new FormData(this)
        // let data = {
        //   avatar : $('#avatar')[0].files[0],
        //   cne: $('#cne').val(),
        //   name: $('#name').val(),
        //   email: $('#email').val(),
        //   phone: $('#phone').val(),
        //   address: $('#address').val(),
        //   password: $('#password').val()
        // }

        $.ajax({
          url: `/addnewstudent`,
          type: 'POST',
          data: formData, //JSON.stringify(data)
          processData: false,
          contentType: false, 
          success: function(response){
            console.log('Student added successfully : ', response)
            window.location.reload()
          },
          error: (error) => {
            console.error('Error addind student : ', error)
          }
        })
     })

     $('#search').on('keyup', function(){
       var value = $(this).val().toLowerCase()
       $('.wrap-student .wrap').filter(function(){
         $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
       })
     })
     
    });
 </script>
</body>
</html>