<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIDEBAR HEADER</title>  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="/style/sidebar.css">
  <link rel="stylesheet" href="/style/userBook.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
  <header>
    <div class="project">
      <span class="book-icon"><i class="fa-solid fa-book"></i></span>
      <span class="name-project">E-Library</span>
    </div>
    <div class="right-header">
      <!-- <div><i class="fa-regular fa-bell"></i><span class="notif">0</span></div> -->
      <img src="/images/boy.png" alt="">
      <div class="username"><%= student.name %></div>
    </div>
  </header>
  <main>
    <div class="sidebar">
      <div class="sidebar-profile">
        <img src="/images/boy.png" alt="">
        <div class="username"><%= student.name %></div>
      </div>
      <div class="navbar">
        <ul>
          <li><a href="/userDash"><i class="fa-solid fa-house"></i><span>Dashboard</span></a></li>
          <li><a href="/userIssued"><i class="fa-solid fa-folder-open"></i><span>Issue Books</span></a></li>
          <li><a href="/userBooks"><i class="fa-solid fa-book-bookmark"></i><span>Books</span></a></li>
          <li><a href="/userUpdate"><i class="fa-solid fa-pen-to-square"></i><span>Update Details</span></a></li>
          <li><a href="/userChange"><i class="fa-solid fa-lock"></i><span>Change Password</span> </a></li>
          <li><a href="/userRequest"><i class="fa-solid fa-bars-staggered"></i><span>Submit Book Request</span> </a></li>
          <li><a href="/userRule"><i class="fa-solid fa-person-chalkboard"></i><span>Rules</span></a></li>
          <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a></li>
        </ul>
      </div>
    </div>
    
<section id="userBook">
  <div class="left-section">
     <form action="">
       <label for="writer">Title</label> <br>
       <input type="text" placeholder="Batman" id="title"> <br>
       <label for="Year">Year</label> <br>
       <input type="text" placeholder="2024" id="year"> <br>
       <label for="Category">Categories</label> <br>
       <input type="text" id="category" placeholder="Category">
       <div class="sbt-btn">
          <input type="submit" value="Search" id="search">
       </div>
     </form>
  </div>
  <div class="right-section">
    <div class="grid-book">
      <% if(typeof book !== undefined && book.length > 0){%>
        <%for(var i = 0; i < book.length ; i++){%>
          <div class="book" data-book-id="<%= book[i]._id %>">
            <!-- href="/previewBook" -->
            <img src="<%= book[i].image %>" alt=""> 
            <div  class="book-name"><%= book[i].bookTitle %></div>
            <div class="book-author"><%= book[i].author %></div>
            <div class="book-like"><i class="fa-solid fa-heart heart" ></i> <span class="nb-like" id="like-count"><%= book[i].like ? book[i].like : 0 %> </span> <i class="fa-solid fa-circle-info details"></i></div>
          </div>
       <% } } else {%>
        <div class="no-book">There is no book added for the moment &#128517;</div>
       <%} %>
      
       <!-- <div class="book">
        <img src="/books/law.jpeg" alt="">
        <a href="/previewBook" class="book-name">Batman</a> <br>
         <a href="/previewBook" class="book-author">Alice Oceman</a>
         <div class="book-like"><i class="fa-solid fa-heart heart" ></i></div>
       </div>
      <div class="book">
        <img src="/books/fault-stairs.jpeg" alt="">
        <a href="/previewBook" class="book-name">Batman</a> <br>
         <a href="/previewBook" class="book-author">Alice Oceman</a>
         <div class="book-like"><i class="fa-solid fa-heart heart" ></i></div>
      </div> -->
      <!-- <div class="book">
        <img src="/books/house.jpeg" alt="">
        <a href="/previewBook" class="book-name">Batman</a> <br>
         <a href="/previewBook" class="book-author">Alice Oceman</a>
         <div class="book-like"><i class="fa-solid fa-heart heart" ></i></div>
      </div>
      <div href="/previewBook" class="book">
        <img src="/books/sherlock.jpg" alt="">
        <a href="/previewBook" class="book-name">Batman</a> <br>
         <a href="/previewBook" class="book-author">Alice Oceman</a>
         <div class="book-like"><i class="fa-solid fa-heart heart" ></i></div>
      </div> -->
      <!-- <div class="book">
        <img src="/books/stephen.jpeg" alt="">
        <a href="/previewBook" class="book-name">Batman</a> <br>
         <a href="/previewBook" class="book-author">Alice Oceman</a>
         <div class="book-like"><i class="fa-solid fa-heart heart" ></i></div>
      </div> -->
    </div>
  </div>
</section>
  </main>
  
  <script>
    // function toggleHeartColor(event) {
    //         const heartIcon = event.target;

    //         if (heartIcon.classList.contains("active")) {
    //             heartIcon.classList.remove("active");
    //             heartIcon.classList.add("inactive");
    //         } else {
    //             heartIcon.classList.remove("inactive");
    //             heartIcon.classList.add("active");
    //         }
    // }

    // // Select all heart icons
    // const heartIcons = document.querySelectorAll(".heart");
    // heartIcons.forEach(heart => {
    //     heart.addEventListener("click", toggleHeartColor);
    // });
  </script>
  <script>
    $(document).ready(() => {
      $('.details').on('click', function(){
        const bookId = $(this).closest('.book').data('book-id')
        // console.log(bookId)
        window.location.href = `/previewBook/${bookId}`;
      })

       function toggleHeartColor(event){
         const heartIcon = $(event.target);
          heartIcon.each(function(){
            const bookId = $(this).closest('.book').data('book-id')
            const isActive = $(this).hasClass('active')
            const action = isActive ? 'inactive' : 'active'

            $.ajax({
              url: `/toggleLike/${bookId}`,
              type: 'PUT',
              contentType: 'application/json',
              data: JSON.stringify({ action: action }),
              success: function (response) {
                console.log(response.message); // Log success message
                $(`#like-count`).text(response.likes); // Update the like count in the UI
                // Toggle the heart's active/inactive state
                if (isActive) {
                  heartIcon.removeClass('active').addClass('inactive');
                } else {
                  heartIcon.removeClass('inactive').addClass('active');
                }

                window.location.reload()
              },
              error: function (error) {
                console.error('Error toggling like:', error);
              }
            })
            // console.log(bookId)
            // if (heartIcon.hasClass('active')) { 
            //   heartIcon.removeClass('active').addClass('inactive'); 
            // } else {
            //   heartIcon.removeClass('inactive').addClass('active');
            // }
          })
        }
         
    
      $('.heart').on('click', toggleHeartColor)

    
  })
  </script>
</body>
</html>